.container {
  background-color: var(--input-bg-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  padding: 8px 10px;
  position: relative;
}

.dropdownWrapper {
  position: absolute;
  top: 42px;
}

.inputContainer {
  display: flex;
  width: 100%;
}

.searchInputIcon {
  color: var(--input-placeholder-gray);
  font-size: 25px;
}

.searchInput {
  background-color: inherit;
  font-size: 20px;
  margin-left: 5px;
  width: 100%;
}

.searchInput::placeholder {
  color: var(--input-placeholder-gray);
}
