.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  width: 300px;
  height: 64px;
}

.dropdownButton {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdownIconContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.dropdownIconContainer svg,
.dropdownIconContainer span {
  display: block !important;
}

.dropdownWrapper {
  position: absolute;
  top: 100%;
}

.navLinkIcon {
  height: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    border-top: 1px solid var(--border-gray);
    font-size: 27px;
  }
}
