.container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 0px 10px;
  width: 100%;
  font-size: 30px;
  border-bottom: 1px solid var(--border-gray);
  height: 65px;
  background-color: white;
  z-index: 1;
}

.navLinkIcon {
  width: 20%;
  text-align: right;
  margin-left: 10px;
}

.spacer {
  width: 80px;
  height: 1px;
}
