.bio {
  margin: 10px 0 0 0;
}

.bio div:first-child {
  font-weight: 500;
}

.bio div:last-child {
  white-space: pre-wrap;
}

.blueButton {
  background-color: var(--button-blue) !important;
  color: white;
  border: none;
}

.button {
  border: 1px solid var(--border-gray);
  cursor: pointer;
  background-color: var(--background-gray);
  margin-right: 10px;
  width: 80px;
  height: 28px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.buttonsContainer span {
  font-size: 28px;
  margin-right: 20px;
  font-weight: 300;
}

.info {
  width: 70%;
}

.infoBox {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.infoBox > span {
  margin-right: 50px;
  text-align: center;
}

.infoContainer {
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.number {
  font-weight: bold;
}

.profilePicture {
  width: 40%;
}

@media only screen and (max-width: 840px) {
  .container {
    width: 100%;
  }

  .buttonsContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .infoBox {
    justify-content: space-between;
  }

  .infoContainer {
    padding: 0 10px 20px 10px;
  }

  .profilePicture {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .infoContainer {
    margin-bottom: 10px;
  }

  .infoBox {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .infoContainer {
    padding: 0 10px 20px 10px;
  }
}

@media only screen and (max-width: 350px) {
  .button {
    margin-bottom: 2px;
  }

  .buttons {
    flex-direction: column;
  }

  .infoBox > span {
    margin-right: 20px;
  }
}
