.body {
  z-index: 2;
  border-radius: 5px;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
}

.triangleIndicator {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  transform: rotate(45deg);
  z-index: 1;
  border: 1px solid var(--border-gray);
  background-color: white;
}
