.post {
  padding-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding-bottom: 65px;
  }
}

@media only screen and (max-width: 840px) {
  .container {
    width: 100% !important;
  }
}
