.comments {
  height: 100%;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.fullPostContainer {
  background-color: white;
  display: flex;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 65px;
}

.fullPostContent {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.fullPostContent div:first-child {
  padding-top: 5px;
  padding-bottom: 5px;
}

.interactions {
  padding: 5px 15px;
}

.overViewComment {
  padding-bottom: 10px;
}

.overViewComment span:first-child {
  font-weight: 500;
  font-size: 16px;
}

.overViewComment span {
  margin-right: 5px;
}

.overViewComments {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.overviewContainer {
  background-color: white;
  border: 1px solid var(--border-gray);
  margin-bottom: 20px;
  width: 600px;
}

.overViewContainer:last-child {
  margin-bottom: 0px;
}

.overviewContent {
  padding: 0 15px;
  font-size: 14px;
}

.viewAllComments {
  color: var(--input-placeholder-gray);
  cursor: pointer;
}

@media only screen and (min-width: 1631px) {
  .fullPostContainer {
    width: 1500px;
    margin: 0;
  }
}

@media only screen and (max-width: 750px) {
  .overviewContainer {
    width: 100%;
  }
}
