.body {
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: white;
  margin: 0 auto;
  border: 1px solid var(--border-gray);
  width: 700px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.dropdown {
  width: 400px;
  position: absolute;
  top: 52px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-size: 16px;
  color: var(--button-blue);
  cursor: pointer;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}
