* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-gray);
}

a {
  color: inherit;
  text-decoration: none;
}

.appIcon {
  font-size: 60px;
}

input {
  border: none;
  outline: none;
}

.pageContainer {
  margin-top: 80px;
}

.profile-picture {
  border-radius: 50%;
}

:root {
  --border-gray: #dbdbdb;
  --background-gray: #fafafa;
  --input-bg-gray: #efefef;
  --input-placeholder-gray: #c7c7c7;
}
